<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductsTest.Properties.Settings.Exam_Test_2ConnectionString"
            connectionString="Data Source=DESKTOP-JDKS05F\SQLEXPRESS;Initial Catalog=Exam_Test_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>